/* Your code here */
ul {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
}
li {
    border: 5px solid rgb(235, 138, 3);
    width: 250px;
    height: 250px;
    background-color: rgb(66, 66, 66);
    list-style: none
}